.aboutPageDiv{
  padding-top: 20px;
  background-color: rgb(238, 237, 237);
  height: 100vh;
  line-height: 2.2rem;
}

.aboutPageDiv h4{
  margin-top: 0px;
  color: black;
  font-size: 30px;
}

.aboutTextDiv{
  font-size: 25px;;
  width: 80%;
  margin: 0 auto;
}

@media(max-width: 350px){
  .aboutTextDiv{
    font-size: 20px;
  }
}